.tooltip {
  position: absolute;
  display: none;
  background-color: #303030;
  color: #f9f9f9;
  padding: 5px;
  border-radius: 10px;
  width: 50vw;
  top: 20px;
  left: 115%;
}

.number-answers:hover .tooltip {
  display: block;
}

.presence:hover .tooltip {
  display: block;
}

.frequency:hover .tooltip {
  display: block;
}

.temperature:hover .tooltip {
  display: block;
}

.tokens:hover .tooltip {
  display: block;
}

.context-prompt:hover .tooltip {
  display: block;
}

.user-key:hover .tooltip {
  display: block;
  width: 50vw;
  top: 0;
  left: 0;
  top: 115px;
  left: -30%;
}
